@()
@main("Login") {
    <div ng-controller="Login">
        <h1>Login Form</h1>
        <form role="form" ng-submit="postLoginForm(username, password, '@routes.LoginController.loginProcess', '@routes.IndexController.index()')">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" ng-model="username" ng-change="feedback = ''" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" ng-model="password" type="password" ng-change="feedback = ''">
            </div>
            <input type="submit" value="Login">
        </form>
        <div class="alert alert-danger well" ng-show="feedback != ''">
            {{ feedback }} !
        </div>
    </div>
}