@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/App.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/config/Run.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/service/LoginService.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/IndexController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/LoginController.js")" type="text/javascript"></script>
    </head>
    <body ng-app="App">
        <div class="container">
            <div class="content">
                @content
            </div>
        </div>
    </body>
</html>
